/* lightgreen:#bed93d darkgreen:#036649 brown:#5a4544
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto Mono', monospace;*/
body {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}

.intro {
  font-size: 12px;
  font-style: italic;
}

.bg-pop-innovation {
  background: url("../images/skye-studios-NDLLFxTELrU-unsplash.jpg")
  no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header {
  background: white;
  display: block;
  padding: 10px;
}

.goals {
  display: flex;
  justify-content: space-evenly;;
  padding-top: 120px;
}

.goal-1, .goal-2 {
  border-radius: 50% !important;
  height: 160px;
}

.goal-1-content, .goal-2-content {
  display: none;
  padding: 0 100px;
  position: relative;
}

.close-button {
  background: transparent !important;
  position: absolute;
  top: -25px;
  padding: 0 !important;
}



